
.arrow {
          content:'';
          opacity: .5;
          display: block;
          border-bottom: 5px solid #0094ff;
          border-right: 5px solid #FFFFFF;
          transform: rotate(45deg);
          height: 50px;
          width: 50px;
          position: relative;
          cursor: pointer;
          left: 320px;
          top: -120px;
        }

.fa-long-arrow-down { }

.scroll-down { position: relative; bottom:0%; left:0%; }

.scroll-down {
    -webkit-animation: arrowLoop 1.5s infinite;
    -moz-animation: arrowLoop 1.5s infinite;
    -o-animation: arrowLoop 1.5s infinite;
    animation: arrowLoop 1.5s infinite;
}


@-webkit-keyframes arrowLoop {
    0% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    50%, 60%, 65% { opacity: 1; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px); }
}
@-moz-keyframes arrowLoop {
    0% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    50%, 60%, 65% { opacity: 1; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px); }
}
@-o-keyframes arrowLoop {
    0% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    50%, 60%, 65% { opacity: 1; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px); }
}

@keyframes arrowLoop {
    0% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    50%, 60%, 65% { opacity: 1; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% { opacity: 0; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px); }
}